<!DOCTYPE html>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{fragments/config::config}">
   <title layout:title-pattern="$LAYOUT_TITLE : $CONTENT_TITLE">디폴트 타이틀</title>
</head>
<body>
    <!-- footer -->
    <footer th:replace="~{fragments/header::header}"></footer>

    <!-- content -->
    <th:block layout:fragment="content"></th:block>

    <!-- footer -->
    <footer th:replace="~{fragments/footer::footer}"></footer>
</body>
</html>