<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="~{fragments/config::config}">
    <title layout:title-pattern="$LAYOUT_TITLE : $CONTENT_TITLE">AutoBlog</title>
</head>
<body class="page" th:classappend="${pageClass}">
    <header th:replace="~{fragments/header::header}"></header>

    <div class="layout-shell">
        <th:block layout:fragment="content"></th:block>
    </div>

    <footer th:replace="~{fragments/footer::footer}"></footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script th:src="@{/js/scripts.js}"></script>
</body>
</html>
